<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home">
	<select id="rankList" parameterType="int" resultType="com.sp.withtail.Home">
	
    SELECT i.itemNum, i.ctNum, itemName, i.itemPrice,  i.itemPrice * (100-NVL(discount,0)) * 0.01 finalPrice,
           discount, NVL(COUNT(o.itemNum),0) numCount, mainImage
    FROM item i
    JOIN (
        SELECT ctNum
        FROM category
        WHERE CONNECT_BY_ROOT ctNum = #{num}
        START WITH parentCT IS NULL
        CONNECT BY PRIOR ctNum = parentCT
    ) c ON c.ctNum =  i.ctNum
    LEFT JOIN orderDetail o ON o.itemNum = i.itemNum
    WHERE showNotice = 0
    GROUP BY i.itemNum, i.ctNum, itemName, i.itemPrice,  i.itemPrice * (100-NVL(discount,0)) * 0.01, discount, mainImage
    ORDER BY numCount DESC, i.itemNum DESC
    FETCH FIRST 4 ROWS ONLY
 
	</select>
	
	<select id="hotdealList" parameterType="int" resultType="com.sp.withtail.Home">
	    SELECT i.itemNum, i.ctNum, itemName, i.itemPrice,  i.itemPrice * (100-NVL(discount,0)) * 0.01 finalPrice,
	           discount, mainImage
	    FROM item i
	    JOIN (
	        SELECT ctNum
	        FROM category
	        WHERE CONNECT_BY_ROOT ctNum = #{num}
	        START WITH parentCT IS NULL
	        CONNECT BY PRIOR ctNum = parentCT
	    ) c ON c.ctNum =  i.ctNum
	    WHERE showNotice = 0 AND discount > 0
	    ORDER BY discount DESC, itemNum DESC
	 	FETCH FIRST 8 ROWS ONLY
	</select>
	
	<select id="newstList" parameterType="int" resultType="com.sp.withtail.Home">
   		SELECT i.itemNum, i.ctNum, itemName, i.itemPrice,  i.itemPrice * (100-NVL(discount,0)) * 0.01 finalPrice,
	           discount,  mainImage
	    FROM item i
	    JOIN (
	        SELECT ctNum
	        FROM category
	        WHERE CONNECT_BY_ROOT ctNum = #{num}
	        START WITH parentCT IS NULL
	        CONNECT BY PRIOR ctNum = parentCT
	    ) c ON c.ctNum =  i.ctNum
	    WHERE showNotice = 0
	    ORDER BY regDate DESC, itemNum DESC
	 	FETCH FIRST 8 ROWS ONLY
	</select>
	
	<select id = "cartCount" parameterType="string" resultType="Integer">
		 SELECT COUNT(ct.cartNum) cartCount
		 FROM cart ct
         JOIN item i ON ct.itemNum = i.itemNum
         LEFT JOIN option2 op1 ON ct.option2Num = op1.option2Num
		 LEFT JOIN option2 op2 ON ct.option2Num2 = op2.option2Num
         LEFT JOIN itemStock it ON ct.itemNum = it.itemNum
         AND NVL(it.option2Num, 0) = NVL(op1.option2Num, 0) 
         AND NVL(it.option2Num2, 0) = NVL(op2.option2Num, 0)
		 WHERE userId = #{userId}  AND showNotice = 0
	</select>
</mapper>